<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main>
      <div class="card mt-5 mx-auto" style="width: 500px">
        <div class="card-header bg-dark text-white text-center">
          Add Employee
        </div>
        <div class="card-body">
          <% if(Error){ %>
          <div class="alert alert-danger">Employee already exist with this ID</div>
          <%}%> <% if (success) { %>
          <div id="success" class="alert alert-success">Employee Added Successfully!</div>
          <% } %>
          <form action="/addEmp" method="post">
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                name="id"
                id="formId1"
                placeholder=""
                required
              />
              <label for="formId1">ID</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="name"
                id="formId1"
                placeholder=""
                required
              />
              <label for="formId1">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                name="age"
                id="formId1"
                placeholder=""
                required
              />
              <label for="formId1">Age</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                name="salary"
                id="formId1"
                placeholder=""
                required
              />
              <label for="formId1">Salary</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="department"
                id="formId1"
                placeholder=""
                required
              />
              <label for="formId1">Department</label>
            </div>
            <button id="" type="submit" class="btn btn-primary">Add</button>
            <a
              name=""
              id=""
              class="btn btn-secondary"
              href="/dashboard"
              role="button"
              >Back to dashboard</a
            >
          </form>
        </div>
      </div>
    </main>
    <script>
      const success = document.getElementById("success");
      if (success) {
        setTimeout(() => {
          window.location.href = "/dashboard";
        }, 1000); 
      }
    </script>

    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
